* {
    font-family: 'EB Garamond', serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.container{
    max-width: 720px;
    margin: auto;
}

.header{
    font-family: 'Roboto', sans-serif;
}

.footer {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
}

.footer img{
    height: 50px;
    width: 50px;
    margin-bottom: -20px;
}

.avatar{
    height: 150px;
    width: 150px;
}

.description{
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.code_highlight{
    display: block;
    padding-bottom: 20px;
    background-color: #f6f8fa;
    font-size: 85%;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.main-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    line-height: 50px;
}